.container-form{
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #contact {
        scroll-margin-top: 35px; 
        overflow-y: auto; 
        height: 100px; 
      }

    .input-group{
        margin-top: 2em;
    }

    .input-group-msg{
        margin-top: 2em;

        input{
            height: 10em;
        }
    }

    .title{
        display: inline-block;
    }

    form{
        display: flex;
        color: white;
        flex-direction: column;  
        width: 30%; 
        gap: 1em;
        
        input::-webkit-input-placeholder{
            color: white;
            font-size: 1.8rem;
        }

        input, button{
            border-radius: 15px;
            border: 1px solid;
            background-color: #171428;
            height: 4em;
            width: 100%;
            font-size: 1.5rem;
            text-indent: 20px;
        }

        .btn-submit {
            display: flex;
            align-items: center;
            justify-content: center;

            button{
            width: 10em;
            padding: 1em;
            text-indent: 0;
            cursor: pointer;
         

                &:hover{
                    color: red;
                    filter: brightness(1.5);
                }
            }
        }
    }
}

@media (max-width:720px) {
    form{
        display: flex;
        align-items: center;
        flex-direction: column;  
        width: 100%; 
        gap: 1em;

        .input-group-msg, .input-group{         
          width:25em;
        }
    }
}
@media (max-width:420px) {
    
    form{
        display: flex;
        align-items: center;
        flex-direction: column;  
        width: 100%; 
        gap: 1em;

        .input-group-msg, .input-group{         
          width:15em;
        }
    }
}