.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(94, 14, 127, 0.25) 50%, rgba(94, 14, 127, 0.375) 100%);
    position: fixed;
    z-index: 999;
    width: 100vw;
    padding: 0 5em;
    backdrop-filter: blur(3px);
    
    .imgLogo {
        width: 9em;
        height: 7em;
    }

    .nav-infos{
        ul {
            display: flex;
            align-items: center;
            margin-right: 3.5vw;

            li {
                margin-left: 2em;
                font-size: 2.5rem;
                font-weight: 200;

                a {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2.5px;
                        bottom: -4px;
                        left: 0;
                        background-color: #fff;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }
                        
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }

    .menuMobile {
        display: none;
    }
}

@media (max-width: 720px) {
    .header{
        .nav-infos {
            display: none;
        }

        .menuMobile {
            display: block;
        }
    }
}

@media (max-width:320px) {
    .header{
        width:120vw ;
        
    }
}