#about{
    padding-top: 2em;
    scroll-margin-top: 45px; 
}

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: auto;
    width: 80%;

    .title{
        padding-top: 1em;
        font-weight: 200;
        font-family: JetBrains Mono;
        font-size: 4rem;
        margin-left: 0.5em;
    }

    .imgLogo{
     width: 25em;
     height: 25em;
    }    
}
@media (max-width:800px) {

    #about{
        padding-top: 12em;
        scroll-margin-top: 15px; 
    }
    .container-sobre{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:90%;
        margin: 12em auto 0;
        gap: 2em;   

        .imgLogo{
            width: 15em;
            height:  15em;
        }
    }
}

@media (max-width:600px) {
    #about{
        padding-top: 10em;
        scroll-margin-top: 15px; 
    }
}

@media (max-width:500px) {
    #about{
        padding-top: 15em;
        scroll-margin-top: 15px; 
    }
}

@media (max-width:420px) {
    #about{
        padding-top: 0em;
        scroll-margin-top: 15px; 

        .sobre-nos{
            .txt{
                font-size: 2rem;
            }
            .title{
                font-size: 3rem;
            }
        }
    }
}

@media (max-width:320px) {
    #about{
        padding-top: 0em;
        scroll-margin-top: 15px; 

        .sobre-nos{
            .txt{
                font-size: 2rem;
            }
            .title{
                font-size: 3rem;
            }
        }
    }
}