$color-bg: #070411;
$color-font: #ECEAEC;

$font-logo: "Audiowide", sans-serif;
$font-title: "JetBrains Mono", monospace;
$font-web: "Share Tech", sans-serif;

:root {
  font-family: $font-web;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    width: 0.5em;
    background: $color-bg;
  }

  &::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: $color-bg;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #6807a47d;
    border: 1px solid $color-bg;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;

  body {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: $color-bg;
    color: $color-font;
    position: relative;

    input {
      outline: none;
      border: none;
    }

    a {
      color: $color-font;
      text-decoration: none;
    }

    ul {
      list-style: none;
    }
  }
}