.container-banner{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .banner {
        width: 120vw;
        height: 80vh;
        position: absolute;
        top: 0;
        left: -50px;
        z-index: 0;
        animation: bannerMove 2s ease alternate infinite;
    }

    .containerHero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin: 5em 0 0;
        z-index: 10;
        width: 100%;

        .txtIntro {
            display: flex;
            flex-direction: column;
            gap: .5em;
            width: 40%;
            
            .tech-font {
                font-size: 6rem;
                font-family: Audiowide;
                background: linear-gradient(90deg, #690094 0%, #B71F4E 100%);
                -webkit-background-clip: text; 
                background-clip: text;
                color: transparent;
            }

            .contato {
                display: flex;
                align-items: center;
                gap: 2.5em;

                .btn-contato {
                    border-radius: 5px;
                    font-weight: 200;
                    font-size: 3vh;
                    background:#3B0C4F;
                    color:#37DF87;
                    box-shadow: 12px 12px 10px 0px #69009440;   
                    padding: 1.5vh;
                }

                
                .icons {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    
                    .icon {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }

        .imgLogo {
            width: 20em;
            height: 20em;
        }
    }
}

// media p 
@media (max-width: 720px) {
    .container-banner{

        .banner {
            width: 120vw;
            height: 100vh;
        }

        .containerHero {
            margin: 20em 0 0;
            flex-direction: column;
            text-align: center;
    
            .txtIntro {     
                width:90%;

                .contato {
                    flex-direction: column;
            
                    .btn-contato {

                    }
    
                    
                    .icons {
                        
                        .icon {
                        }
                    }
                }
            }

            .imgLogo {
                width: 15em;
                height: 15em;
            }
        }
    }
}

@media (max-width:420px) {
    .container-banner{

        .banner {
            width: 120vw;
            height: 115vh;
        }

        .containerHero {
            margin: 25em 0 0;
            flex-direction: column;
            text-align: center;
    
            .txtIntro {     
                width:90%;
                .contato {
                    flex-direction: column;
            
                    .btn-contato {

                    }
    
                    
                    .icons {
                        
                        .icon {

                        }
                    }
                }
            }

            .imgLogo {
                width: 10em;
                height: 10em;
            }
        }
    }
    
}

@keyframes bannerMove {
    to {
        transform: translateX(20px);
    }
    
}