.container-banner{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .banner {
        width: 100vw;
        height: 80vh;
        position: absolute;
        top: 0;
        padding: 0%;
        z-index: 0;
        object-fit: cover;
        //animation: bannerMove 2s ease alternate infinite;
    }

    .containerHero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin: 5em 0 0;
        z-index: 10;
        width: 100%;

        .txtIntro {
            display: flex;
            flex-direction: column;
            gap: .5em;
            width: clamp(32em, 20% + 30%, 50em);
            
            .tech-font {
                font-size: 6rem;
                width: 7em;
                font-family: Audiowide;
                background: linear-gradient(to right, #60009A 0%, #BD003F 100%);
                -webkit-background-clip: text; 
                background-clip: text;
                color: transparent;
            }

            .contato {
                display: flex;
                align-items: center;
                gap: 2.5em;

                .btn-contato {
                    border-radius: 5px;
                    font-weight: 200;
                    font-size: 3vh;
                    background:#3B0C4F;
                    color:#37DF87;
                    box-shadow: 0 0 20px #69009440;   
                    padding: .5em 1em;
                    white-space: nowrap;
                    position: relative;
                    overflow: hidden;

                    & span:first-of-type {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: linear-gradient(to right, #60009A 0%, #BD003F 100%);
                        animation: animar1 2s linear infinite;
                    }

                    & span:nth-child(2) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 3px;
                        height: 100%;
                        background: linear-gradient(to bottom, #60009A 0%, #BD003F 100%);
                        animation: animar2 2s linear infinite;
                        animation-delay: 1s;
                    }

                    & span:nth-child(3) {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 3px;
                        background: linear-gradient(to left, #60009A 0%, #BD003F 100%);
                        animation: animar3 2s linear infinite;
                    }

                    & span:last-of-type {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 3px;
                        height: 100%;
                        background: linear-gradient(to top, #60009A 0%, #BD003F 100%);
                        animation: animar4 2s linear infinite;
                        animation-delay: 1s;
                    }
                }
       
                .icons {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    
                    .iconLi, .iconIg {
                        width: 32px;
                        height: 32px;
                    }

                    .iconFc {
                        width: 28px;
                        height: 32px;
                    }
                }
            }
        }

        .imgLogo {
            width: 20em;
            height: 20em;
        }
    }
}

@media (max-width: 720px) {
    .container-banner{
        padding-top: 5em ;

        .banner {
            width: 100vw;
            height: 120vh;
        }

        .containerHero {
            margin: 20em 0 0;
            flex-direction: column;
            text-align: center;
    
            .txtIntro {     
                width:90%;

                .tech-font {
                    align-self: center;
                }

                .contato {
                    flex-direction: column;
            
                    .btn-contato {

                    }
    
                    
                    .icons {
                        
                        .icon {
                        }
                    }
                }
            }

            .imgLogo {
                width: 15em;
                height: 15em;
            }
        }
    }
}

@media (max-width:420px) {
    .container-banner{

        .banner {
            width: 100vw;
            height: 122vh;
        }

        .containerHero {
            margin: 25em 0 0;
            flex-direction: column;
            text-align: center;
    
            .txtIntro {     
                width:90%;
                .contato {
                    flex-direction: column;
            
                    .btn-contato {

                    }
    
                    
                    .icons {
                        
                        .icon {

                        }
                    }
                }
            }

            .imgLogo {
                width: 10em;
                height: 10em;
            }
        }
    }
    
}

@media (max-width:320px) {
    .container-banner{

        .banner {
            width: 100vw;
            height: 110vh;
        }

        .containerHero {
            margin: 20em 0 0;
            flex-direction: column;
            text-align: center;
    
            .txtIntro {     
                width:90%;
                font-size: 1.5rem;

                .tech-font{
                    font-size: 4rem;
                }
                .contato {
                    flex-direction: column;
            
                    .btn-contato {

                    }
    
                    
                    .icons {
                        
                        .icon {

                        }
                    }
                }
            }

            .imgLogo {
                padding-top: 0;
                width: 10em;
                height: 8em;
            }
        }
    }    
}
// @keyframes bannerMove {
//     to {
//         transform: translateX(20px);
//     }
    
// }

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

// @keyframes pulse {
//     0% {
//       border-color: #9b30ff;
//       box-shadow: 0 0 0 0px rgba(155, 48, 255, 0.7);
//     }
//     50% {
//       border-color: #9b30ff;
//       box-shadow: 0 0 0 10px rgba(155, 48, 255, 0);
//     }
//     100% {
//       border-color: #9b30ff;
//       box-shadow: 0 0 0 20px rgba(155, 48, 255, 0);
//     }
// }